<h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>
<md-button class="md-accent">Button 1</md-button>

<div style="width:400px; height:400px;">
    <md-grid-list md-cols="3" md-row="{{home.grid.length}}" md-gutter="2px"  md-row-height-gt-md="1:1" md-row-height="4:3">
        <md-grid-tile ng-repeat="cell in home.grid">
            <md-button class="md-fab md-primary">{{cell}}</md-button> 
        </md-grid-tile>
    </md-grid-list>
</div>